html, body
{
    height: 100%;
    width: 100%;
    background: black;
    overflow: hidden;
}

.position-absolute
{
    position: absolute;
}

.display-block
{
    display: block;
}

.center
{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.float-left
{
    float: left;
}

.width-100
{
    width: 100%;
}

.width-50
{
    width: 50%;
}

.width-25
{
    width: 25%;
}

.padding-0
{
     padding: 0;
}

.padding-10
{
    margin: 10px;
}

.padding-top-10
{
    padding-top: 10px;
}

.padding-bottom-10
{
    padding-bottom: 10px;
}

.padding-20
{
    padding: 20px;
}

.overflow-hidden
{
    overflow: hidden;
}

.background-black
{
    background: black;
}

.border-white
{
    border: solid 1px white;
}

.color-white
{
    color: white;
}

.color-red
{
    color: red;
}

.z-50
{
    z-index: 50;
}

.height-1
{
    height: 50%;
}

.height-2
{
    height: 50%;
}

.height-3
{
    height: 100%;
}

@media screen and (max-width: 991px)
{
    .height-1
    {
        height: 25%;
    }
}